
.pageBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #000000, #4c474c);
  font-family: Arial, sans-serif;
  margin: 0;
}

.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authBox {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

.authBox h2 {
  margin-bottom: 1rem;
  color: #333;
}

.authBox form {
  display: flex;
  flex-direction: column;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.authButton {
  width: 100%;
  padding: 10px;
  background: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.authButton:hover {
  background: #393c39;
}

.toggleText {
  margin-top: 15px;
  color: #060a0e;
  cursor: pointer;
}

.toggleText:hover {
  text-decoration: underline;
}
